<html>
  <body>
    <h1>$name</h1>
    <hr />
    <div style="text-align: center">
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
    </div>
    <div style="text-align: center">
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
    </div>
    <h2>Personal data:</h2>
    <p>Date of birth: $birth</p>
    <p>Phone: $phone</p>
    <p>Email: $email</p>
    <p>Address: $address</p>
    <hr />
    <h2>Bio:</h2>
    <p>$bio</p>
    <div style="text-align: center">
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
    </div>
    <div style="text-align: center">
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
      <img src="$face" style="width: 80px" />
    </div>
  </body>
</html>